.landing-page-upper-container {
  width: 100vw;
  height: 100vh;
  position: fixed;
}

/* LOGO */

.logo-container {
  position: relative;
  width: 20vw;
  height: 20vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoOut {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#logoMid {
  position: absolute;
  overflow: hidden;
  top: 15%;
  height: 50%;
  width: 50%;
}

/* LOGO-TEXT */

.landing-page-text-container {
  position: absolute;
  color: var(--silver);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein;
}

.landing-text-1 {
  animation: 3s ease-in-out slideInFromLeft;
  visibility: visible;
  text-shadow: #000 1px 2px 3px;
}

.landing-text-2 {
  animation: 3s ease-in-out slideInFromRight;
  text-shadow: #000 1px 2px 3px;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(150vw);
  }
  100% {
    transform: translateY(0);
  }
}

.cookies {
  backdrop-filter: blur(20px);
  box-shadow: #0a1120 3px 3px 13px 1px;
}
