/* LOGO */

.logo-container {
  position: relative;
  width: 20vw;
  height: 20vw;
  min-width: 150px;
  min-height: 150px;
  max-width: 300px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoOut {
  position: absolute;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

#logoMid {
  position: absolute;
  overflow: hidden;
  top: 15%;
  height: 50%;
  width: 50%;
}

/* LOGO-TEXT */

.landing-page-text-container {
  position: absolute;
  color: var(--silver);
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: fadein 1s;
}

.landing-text-1 {
  animation: 3s ease-in-out slideInFromLeft;
  visibility: visible;
}

.landing-text-2 {
  animation: 4s ease-in-out slideInFromRight;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateY(150vw);
  }
  100% {
    transform: translateY(0);
  }
}

.cookies {
  background: #1d2732;
  background: linear-gradient(
    120deg,
    #0a1120 0%,
    #0e1a34 15%,
    #0a1120 40%,
    #0b243a 75%,
    #0a1120 80%,
    #2f1e3a 85%,
    #0a1120 87%,
    #0a1120 100%
  );
}
