#trainingpeaks-card {
  width: 70vw;
  max-width: 600px;
  height: auto;
  margin: 1rem;
  border-radius: 5px;
  box-shadow: 0 4px 30px #000;
}

#bike {
  width: 70vw;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 30px #000;
}

#the-brutal {
  width: 70vw;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 30px #000;
}

h2 {
  margin-bottom: 1rem;
}

.no-slots-span {
  font-size: 1rem;
  color: red;
  margin: 0.2rem;
}
