* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  display: none;
}

:root {
  --grey: #393f4d;
  --yellow: #00a3b1;
  --silver: #f5f4f5;
  --black: #1d1e22;
}

.yellow-word {
  color: var(--yellow);
}

html {
  overscroll-behavior: none;
  height: 100%;
  height: -webkit-fill-available;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  color: #f5f4f5;
  background: #1d2732;
  background: linear-gradient(
    120deg,
    #0a1120 0%,
    #0e1a34 15%,
    #0a1120 40%,
    #0b243a 75%,
    #0a1120 80%,
    #2f1e3a 85%,
    #0a1120 87%,
    #0a1120 100%
  );
  white-space: pre-line;
  vertical-align: bottom;
}

body {
  overscroll-behavior: none;
  height: 100%;
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-container {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin-top: 15vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#logo-small {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 30vh;
  width: 30vh;
  max-width: 150px;
  max-height: 150px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  #logo-small {
    height: 17vh;
    width: 17vh;
  }
}

.single-content {
  position: relative;
  height: auto;
  width: 70vw;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--silver);
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  border-radius: 16px;
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
}

@media screen and (max-width: 768px) {
  .single-content {
    width: 90vw;
  }
}

.single-content h1 {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .single-content h1 {
    font-size: 2rem;
  }
}

.target-link {
  color: var(--yellow);
  font-weight: bold;
}
