* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* ::-webkit-scrollbar {
  display: none;
}

:root {
  --grey: #393f4d;
  --yellow: #00a3b1;
  --silver: #f5f4f5;
  --black: #1d1e22;
}

.yellow-word {
  color: var(--yellow);
}

body {
  display: flex;
  overflow-x: hidden;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  background-color: #1d2732;
  background-size: cover;
}

.content-container {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin-top: 15vh;
  margin-bottom: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 768px) {
  .content-container {
    width: 100vw;
    overflow: hidden;
  }
}

#logo-small {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  height: 30vh;
  width: 30vh;
  max-width: 200px;
  max-height: 200px;
  margin: 10px;
}

@media screen and (max-width: 768px) {
  #logo-small {
    height: 17vh;
    width: 17vh;
  }
}

.single-content {
  position: relative;
  height: auto;
  width: 70vw;
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--silver);
  font-size: 1.3rem;
  line-height: 2rem;
  text-align: center;
  _background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  _box-shadow: 5px 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  _border: 1px solid var(--silver);
}

@media screen and (max-width: 768px) {
  .single-content {
    width: 90vw;
  }
}

.single-content h1 {
  padding: 2rem;
}

@media screen and (max-width: 768px) {
  .single-content h1 {
    font-size: 2rem;
  }
}

.target-link {
  color: var(--yellow);
  font-weight: bold;
}
