.about-logos {
  width: 30vw;
  max-width: 300px;
  height: auto;
  box-shadow: 0 4px 30px var(--black);
  margin: 1rem;
  border-radius: 5px;
  background-color: white;
}

.union {
  width: 10vw;
  max-width: 150px;
  height: auto;
  box-shadow: 0 4px 30px var(--black);
  margin: 1rem;
  border-radius: 5px;
}

#deca {
  width: 30vw;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 30px var(--black);
}
#avatar {
  width: 40vw;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 30px var(--black);
  margin: 3rem;
}
