.form-container {
  margin: 20vh 5vw;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.inputs {
  width: 80vw;
  max-width: 600px;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 5px;
  background-color: var(--silver);
  border: var(--yellow) 2px solid;
  box-shadow: #000 1px 1px 6px 0px;
}

.label {
  margin-top: 1rem;
  color: var(--yellow);
  font-size: 1.5rem;
  text-shadow: 0.1rem 0.3rem 0.3rem rgba(0, 0, 0, 0.812);
}
