.form-container {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.inputs {
  width: 80%;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  background-color: var(--silver);
  border: var(--yellow) 1px solid;
}

.label {
  color: var(--yellow);
  font-size: 1.5rem;
}
