.nav-bar {
  position: fixed;
  z-index: 10;
  width: auto;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--black);
  padding: 1%;
  top: 0;
  right: 0;
}

.menu-list {
  position: fixed;
  z-index: 10;
  top: 10vh;
  right: 0;
  width: 10%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--black);
  padding: 1%;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .menu-list {
    position: fixed;
    z-index: 10;
    top: 10vh;
    right: 1rem;
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black);
    gap: 1rem;
    background-color: var(--grey);
    border-radius: 5px;
    opacity: 0.9;
  }
}

#hamburger {
  height: 3rem;
}

.fi {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
