.nav-bar-active {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  width: auto;
  max-width: 25vw;
  height: 100vh;
  padding: 2rem;
  backdrop-filter: blur(40px);
  box-shadow: #00a3b1 1px 1px 13px 1px;
  text-shadow: #000 1px 2px 3px;
  transition: right 0.5s ease;
}
.nav-bar-not-active {
  position: fixed;
  z-index: 10;
  top: 0;
  right: -200px;
  width: auto;
  max-width: 25vw;
  height: 100vh;
  padding: 2rem;
  backdrop-filter: blur(40px);
  box-shadow: #00a3b1 1px 1px 13px 1px;
  text-shadow: #000 1px 2px 3px;
  transition: right 0.5s ease;
}

.hamburger-button {
  z-index: 20;
}

.hamburger-svg {
  width: 2.5rem;
  height: 2.5rem;
  color: var(--silver);
  z-index: 20;
  transition: transform 0.3s ease;
}

.hamburger-svg:hover {
  transform: scale(1.3) rotateZ(10deg);
}

.fi {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.language-button {
  background: none;
  border: none;
}

/* NAV-BUTTONS */

.nav-button {
  font-size: 1.2rem;
  background: none;
  color: var(--silver);
  padding: 0.2rem 2rem;
  transition: 0.1s linear;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.nav-button-container {
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: var(--silver);
  gap: 1rem;
}

.nav-button:hover {
  border-radius: 10px 10px 10px 0;
  text-decoration: underline;
}

.nav-button:active {
  transform: scale(0.95);
}
