.footer-elements {
  position: absolute;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 10;
  color: var(--footer);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}

.footer-button {
  color: var(--footer);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer-elements {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}
