* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --grey: #393f4d;
  --yellow: #feda6a;
  --silver: #d4d4dc;
  --black: #1d1e22;
}

h1,
a {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  height: auto;
  width: 100vw;
  background: linear-gradient(
    170deg,
    var(--black) 0%,
    var(--grey) 90%,
    var(--yellow) 92%,
    var(--grey) 94%,
    var(--yellow) 96%,
    var(--grey) 98%,
    var(--yellow) 99%,
    var(--grey) 100%
  );
  background-size: cover;
}

.content {
  position: relative;
  height: auto;
  min-height: 100vh;
  width: 100vw;
  margin-top: 5vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--silver);
  font-size: 1.1rem;
  text-align: center;
}
